@mixin flex($flex-direction: none) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}
.card-main {
  padding: 10px;
  @include flex(row);
  gap: 48px;
  flex-wrap: wrap;
  cursor: pointer;

  &__cards {
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    height: 266px;
    transition:
      background-color 0.3s ease,
      transform 0.5s ease;
    border: 0.5px solid var(--neutralLightGrey4);
    animation: cards-animation 1s forwards;
    transition: background-color 0.5s ease-in-out;

    &.hovered {
      background-color: var(--neutralLightGrey4);
    }

    &__content {
      @include flex(column);
      animation: cards-animation-content 3s forwards;

      .icon-animation {
        @include flex();
        background-color: var(--neutralLightGrey4);
        padding: 20px;
        border-radius: 6px;
        transition:
          background-color,
          border-radius 0.9s ease;

        &.icon {
          background-color: var(--neutralDarkGrey1);
          border-radius: 50%;
        }
      }
    }
  }

  @keyframes cards-animation {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes cards-animation-content {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
