@mixin flex-direction(
  $justify-content: center,
  $flex-direction: column,
  $gap: none
) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  gap: $gap;
  align-items: center;
}

.main_all {
  @include flex-direction(120px);

  .main {
    // @include flex-direction(space-evenly, row);
    // flex-wrap: wrap;
    padding: 10px;
  }

  .time-line {
    @include flex-direction();
  }
}
