.border-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  border: 1px solid red;
  max-width: 100px;
  width: 100%;
  height: 25px;
  border-radius: 25px;
  padding: 5px;

  &--on {
    border-color: green;
  }

  &__before-after {
    background: var(--background-off);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    transition:
      transform 0.4s,
      left 0.4s;
    cursor: pointer;

    &.border-circle__on {
      transform: translateX(75px);
      background: var(--background-on);
    }
  }
}
