.footer {
  background: linear-gradient(
      217deg,
      rgba(75, 4, 4, 0.8),
      rgba(100, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(3, 3, 58, 0.8), rgba(0, 0, 100, 0) 70.71%),
    linear-gradient(336deg, rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0) 70.71%);
  background-size: 300% 300%;
  width: 30%;
  height: auto;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 4px;
  animation: moveColors 9s linear infinite;

  @media (max-width: 1000px) {
    width: 80%;
  }

  @media (max-width: 450px) {
    width: 100%;
  }

  @keyframes moveColors {
    0% {
      background-position:
        0% 50%,
        0% 50%,
        0% 50%;
    }
    50% {
      background-position:
        100% 50%,
        50% 100%,
        0% 100%;
    }
    100% {
      background-position:
        0% 50%,
        0% 50%,
        0% 50%;
    }
  }

  &__content {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
