@mixin justify-content($flex-direction: none) {
  display: flex;
  justify-content: space-around;
  flex-direction: $flex-direction;
  align-items: center;
}
@mixin width($width, $height) {
  width: $width;
  height: $height;
}

.about-content {
  padding: 15px;
  @include justify-content(column);
  gap: 32px;

  &__layout {
    @include width(100%, auto);
    @include justify-content(row);

    &__text {
      @include width(50%, 600px);
    }
  }
}
