@mixin justify-content($flex-direction: none) {
  display: flex;
  justify-content: space-around;
  flex-direction: $flex-direction;
  align-items: center;
}
@mixin width($width, $height) {
  width: $width;
  height: $height;
}

.about-content {
  @include width(100%, auto);

  &__layout {
    @include width(100%, 800px);
    @include justify-content(column);

    &__text {
      @include justify-content(row);
      max-width: 1600px;
      width: 100%;

      @media (max-width: 1100px) {
        @include justify-content(column-reverse);
      }
      &__item {
        flex: 1;
        @include justify-content(none);
        height: auto;

        @media (max-width: 1100px) {
          width: 100%;
        }
      }
    }
  }

  &__rotation {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
