.card-image--text {
  padding: 10px;
  display: flex;
  flex-direction: column;

  &__content {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    .switch {
      width: 120px;
    }
  }
}
