@mixin flex-direction($flex-direction, $gap: 0px) {
  display: flex;
  align-items: center;
  flex-direction: $flex-direction;
  gap: $gap;
}

.card-image--text {
  padding: 10px;
  @include flex-direction(column);

  &__content {
    max-width: 350px;
    width: 100%;
    @include flex-direction(row, 20px);

    .switch {
      width: 120px;
    }
  }
}
