.content-link {
  width: 100%;
  height: auto;

  ul {
    padding-inline-start: 0;
    list-style-type: none;
  }

  &__style {
    text-decoration: var(--text-decoration);
    font-weight: var(--font-weight);
    font-size: var(--font-size);

    @keyframes animation {
      from {
        color: var(--brandPrimary6);
      }
      to {
        color: var(--auxiliary-blue-600);
      }
    }

    animation: animation 6s forwards;

    &:hover {
      border-bottom: 1px solid aqua;
    }
  }
}
