.content-link {
  width: 100%;
  height: auto;

  ul {
    padding-inline-start: 0;
    list-style-type: none;
  }

  &__style {
    text-decoration: var(--text-decoration);
    color: var(--color);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
  }
}
