@mixin flex-direction($flex-direction, $gap: 0px) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: center;
  gap: $gap;
}

.section {
  @include flex-direction(row, 20px);

  .icon-text {
    max-width: 80px;
    width: 100%;
    @include flex-direction(column);
  }
}
