@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-short {
  max-width: 1200px;
  width: 100%;
  height: 600px;
  padding: 20px;

  &--videos {
    @include flex();
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    &__image {
      max-width: 500px;
      width: 100%;
      height: 500px;

      border: 1px solid var(--neutralLightGrey3);
      border-radius: 6px;
      overflow: hidden;

      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }
    }

    &__border-icon {
      @include flex();

      @media (max-width: 1220px) {
        display: none;
      }
      background-color: #05025b;
      border-radius: 50%;
      height: 90px;
      width: 90px;

      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);

        box-shadow: 0px 4px 50px #12098e;
      }

      .icon {
        z-index: 50;
        @include flex();

        background-color: #09056c;
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }
    }
  }
}
