@mixin width($height) {
  width: 100%;
  height: $height;
}
@mixin flex-direction($flex-direction, $justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  align-items: center;
}
%border {
  border: 1px solid white;
  padding: 10px;
  border-radius: 6px;
}
.main-profile {
  @include flex-direction(row, space-around);

  @media (max-width: 1700px) {
    @include flex-direction(column, space-around);
  }

  &__short {
    @include width(auto);
    display: flex;
  }

  .profile-content {
    @keyframes animation {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0%);
      }
    }

    &__main {
      max-width: 400px;
      @include width(685px);
      box-shadow:
        0px 4px 14px var(--neutralDarkGrey3),
        0px 4px 14px var(--brandPrimary6);
      border-radius: 4px;
      padding: 10px;

      &__section-title {
        @include width(650px);
        @include flex-direction(column);
        gap: 32px;
        overflow: auto;

        &__section {
          @include flex-direction(column);
          @extend %border;

          &__text {
            @include flex-direction(row);
            flex-wrap: wrap;

            .text {
              @include flex-direction(column);
              word-wrap: break-word;
            }
          }
        }

        &__Button {
          @include flex-direction(row);
          width: 100%;
        }
      }
    }

    .modal {
      @include flex-direction(row);
      position: fixed;
      height: 60px;
      top: 90%;
      left: 91%;
      background: var(--brandPrimary6);
      box-shadow: 0 2px 10px var(--brandPrimary4);
      border-radius: 8px;
      z-index: 1000;
      animation: animation 1s forwards;
    }
  }
}
