.recreational-button {
  max-width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border: none;
  z-index: 10;
  cursor: pointer;

  &.small {
    width: 40%;
    line-height: 10px;
  }

  &.primary {
    width: 50%;
    line-height: 10.4px;
  }

  &.medium {
    width: 100%;
    padding: 12px 14px;
    line-height: 12.2px;
  }

  &.big {
    width: 100%;
    padding: 12px 14px;
    line-height: 24.7px;
  }

  &.default {
    border-radius: 6px;
    box-shadow: 0px 4px 14px var(--auxiliary-green-700);
    transition: background-color 0.6s ease;

    &:hover {
      background-color: var(--auxiliary-green-700);
    }
  }

  &.cancel {
    border-radius: 6px;
    box-shadow: 0px 4px 14px var(--auxiliary-red-600);
    transition: background-color 0.6s ease;

    &:hover {
      background-color: var(--auxiliary-red-600);
    }
  }
}
